html,
body {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav.navbarb {
  z-index: 7;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: #ecf0f1;
  background: currentColor;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2);
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
nav.navbarb>a.logo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 100%;
  background: pink;
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
  outline: none;
  -webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
  -o-transition: background 0.8s;
  -ms-transition: background 0.8s;
  transition: background 0.8s;
  overflow: hidden;
}
nav.navbarb>a.logo:hover {
  background: #d35400;
}
nav.navbarb>a.logo:focus,
nav.navbarb>a.logo:active {
  outline: none;
}
nav.navbarb>a.logo:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 141px;
  width: 141px;
  background: currentColor;
  -webkit-transform: translate(50%, calc(141px / 2)) rotateZ(45deg);
  -moz-transform: translate(50%, calc(141px / 2)) rotateZ(45deg);
  -o-transform: translate(50%, calc(141px / 2)) rotateZ(45deg);
  -ms-transform: translate(50%, calc(141px / 2)) rotateZ(45deg);
  transform: translate(50%, calc(141px / 2)) rotateZ(45deg);
  cursor: default;
}
nav.navbarb>a.logo>h1 {
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 50px;
  font-family: 'Expletus Sans', Verdana, sans-serif;
  font-weight: normal;
  color: currentColor;
  pointer-events: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav.navbarb>a.logo>h1>sup {
  display: inline-block;
  position: absolute;
  font-size: 0.25em;
  top: 0.25em;
  right: -0.5em;
  font-family: 'Lato', Verdana, sans-serif;
  text-transform: uppercase;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
nav.navbarb>a.logo>#particles {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav.navbarb>.controls {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  height: 100%;
  padding-right: 1em;
  font-family: 'Lato', Verdana, sans-serif;
  color: #2c3e50;
}
nav.navbarb>.controls>a {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 2em;
  margin: 0 -1px;
  color: currentColor;
  text-decoration: none;
  background: transparent;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
}
nav.navbarb>.controls>a:hover {
  background: rgba(0,0,0,0.1);
}
nav.navbarb>.controls>a:active {
  background: rgba(0,0,0,0.15);
}
